.contact .contact__form {
  box-shadow: 0px 10px 30px 0px rgba(54, 96, 217, 0.3);
  padding: 2rem;
  background-color: var(--secondary)
}

.contact .contact__form .form-control {
  border: 2px solid var(--gold-color) !important;
  border-radius: 0 !important;

}

.contact .contact__form .form-control:focus {
  border: none !important;
  box-shadow: 0px 10px 30px 0px rgba(54, 96, 217, 0.3);
  border-radius: 0 !important;
}

.contact .contact__info {
  border: 2px #F1F1F1 solid;
}

.contact__content i {
  font-size: 3rem;
}
